body, html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
.pimg1, .pimg2, .pimg3{
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.pimg1{
    background-image: url("img/image_01.jpeg");
    min-height: 100%;
}
.pimg2{
    background-image: url("img/image_02.jpeg");
    min-height: 400px;
}
.pimg3{
    background-image: url("img/image_03.jpeg");
    min-height: 400px;
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
}